.button {
  align-items: center;
  color: var(--color-foreground);
  cursor: pointer;
  display: inline flex;
  font-size: 0.875rem;
  font-weight: bolder;
  height: 2.25em;
  justify-content: center;
  padding-inline: 0.375rem;
  padding-block-end: 0.125rem;
}

.button[disabled] {
  color: var(--color-disabled) !important;
}

.active {
  color: var(--color-active);
}

.negative {
  color: var(--color-negative);
}

.positive {
  color: var(--color-positive);
}

.bordered {
  box-shadow: 0 0 0 1px currentColor;
  border-radius: 1.25em;
  padding-inline: 0.875rem;
}
