.button {
  align-items: center;
  cursor: pointer;
  display: inline flex;
  font-size: 0.875rem;
  font-weight: bolder;
  height: 2.25em;
  justify-content: center;
  padding-inline: 0.375rem;
}

.button[disabled] {
  color: gray !important;
}

.active {
  color: var(--active-hue);
}

.negative {
  color: var(--negative-hue);
}

.positive {
  color: var(--positive-hue);
}

.bordered {
  border: 1px solid;
  border-radius: 1.125em;
  padding-inline: 0.75rem;
}
