.board {
  align-items: start;
  display: flex;
  flex: 1 0 auto;
  gap: 0.75rem;
  overflow-x: scroll;
  padding-block-end: 1rem;
  width: 100%;
}

.board > * {
  flex: 0 0 25rem;
}

.board::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.board::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background-color: var(--color-background-shade);
}

.board::-webkit-scrollbar-thumb {
  background-color: var(--color-outline);
  border-radius: 0.25rem;
}

.board::-webkit-scrollbar-button {
  display: none;
}
