.timer {
  align-items: center;
  display: flex;
  gap: 0.375rem;
}

.timer output {
  background-color: black;
  border-radius: 1rem;
  color: white;
  font-family: monospace;
  line-height: 1;
  padding: 0.25rem 0.75rem;
}

.timer menu {
  align-items: center;
  display: flex;
}
