.column {
  background-color: var(--color-shade);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
}

.title {
  font-weight: 900;
}

.header:not(:hover, :focus-within) .contextual {
  opacity: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu > :only-child {
  margin-inline-start: auto;
}

.menu ul {
  align-items: center;
  display: flex;
}

.menu:not(:hover, :focus-within) .contextual {
  opacity: 0;
}
