.layout {
  margin: 0 auto;
  padding-inline: 3rem;
  width: min(100%, 80rem);
}

.topbar {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-between;
}

.topbar h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.main {
}

.footer {
  padding-block: 1.5rem;
  text-align: center;
}
