.layout {
  display: flex;
  flex-direction: column;
  height: 100vmin;
  margin: 0 auto;
  padding-inline: 3rem;
  width: min(100%, 80rem);
}

.topbar {
  flex: 0 0 6.5rem;
}

.topbar h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.main {
  flex: 1 0 auto;
  display: flex;
}

.main > * {
  flex: 1 0 auto;
  max-width: 100%;
}

.footer {
  font-size: 0.875rem;
  padding-block: 1.5rem;
  text-align: center;
}

.footer a {
  color: var(--color-link);
  text-decoration: underline;
}
