.layout {
  margin: 0 auto;
  width: min(100%, 1024px);
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.menu h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.main {
}

.footer {
  padding-block: 1.5rem;
  text-align: center;
}
