.card {
  background-color: #dbdbdb;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.card.green {
  background-color: #c1f96c;
}

.card.yellow {
  background-color: #ffe485;
}

.card.blue {
  background-color: #a3e7ff;
}

.content {
  padding: 0.75rem;
}

.toolbar {
  background-color: hsla(0, 0%, 100%, 0.25);
  border-radius: 0 0 4px 4px;
  color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  font-size: 0.875em;
  font-weight: 700;
  gap: 0.75rem;
  justify-content: flex-end;
  padding: 0.375rem 0.625rem;
}
