.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 7% 3rem 1.5rem;
}

.brand {
  font-size: 2em;
  line-height: 1;
}

.brand a {
  font-weight: 900;
}

.menu {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.menu a,
.menu button {
  padding: 0.5rem;
}
