.display {
  background-color: black;
  border-radius: 0.25rem;
  color: white;
  font-family: monospace;
  line-height: 1;
  padding: 0.75rem;
}

.display.active {
  background-color: var(--active-hue);
}
