.display {
  background-color: black;
  border-radius: 1.25rem;
  box-shadow: 0 0 0 1px black;
  color: white;
  font: 1rem/2.5 Monaco, monospace;
  padding-inline: 1rem;
}

.display.active {
  background-color: var(--color-active);
  box-shadow: 0 0 0 1px var(--color-active);
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.display.dinged {
  animation: flash 0.5s ease-in-out 2 forwards;
}
