.display {
  background-color: black;
  border-radius: 0.25rem;
  color: white;
  font: 1rem/2.25 monospace;
  padding-inline: 0.875rem;
}

.display.active {
  background-color: var(--color-active);
}
