.tooltip {
  --color: #333;

  background-color: var(--color);
  border-radius: 3rem;
  color: white;
  font-size: 0.875rem;
  max-width: 24ch;
  padding: 0.25rem 0.75rem;
  text-align: center;
  transition-property: opacity, visibility;
  transition: none 0.125s ease-in-out;
  width: max-content;
  z-index: 10;
}

.tooltip:not(.active) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.arrow {
  width: 1.25em;
  height: 1.25em;
}

.arrow.bottom {
  bottom: calc(100% - 1px);
}

.arrow.top {
  top: calc(100% - 1px);
}

.arrow.right {
  right: calc(100% - 1px);
}

.arrow.left {
  left: calc(100% - 1px);
}

.arrow svg {
  display: block;
  fill: var(--color);
  height: 100%;
  shape-rendering: geometricPrecision;
  width: 100%;
}

.arrow.top svg {
  transform: scaleY(-1);
}

.arrow.right svg {
  transform: rotate(-90deg);
}

.arrow.left svg {
  transform: rotate(90deg);
}
