@import "tailwindcss";

@layer base {
  html {
    @apply text-stone-700;
  }

  :focus-visible {
    outline-offset: 0.125rem;
  }

  input[type="text"],
  input:not([type]),
  textarea {
    @apply placeholder-stone-400;

    background-color: transparent;
  }
}
