@import "npm:resetize";

html {
  scrollbar-gutter: stable;

  --negative-hue: #dd0e0e;
  --active-hue: #9747ff;
  --positive-hue: #188b4b;
  --outline-hue: #c0c0c0;
  --shade-hue: #f5f5f5;
  --disabled-hue: #999;
}

@media screen and (width > 1920px) {
  html {
    font-size: 24px;
  }
}

::placeholder {
  color: var(--disabled-hue);
}
